<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Pan.Properties.Settings>
            <setting name="PCColon" serializeAs="String">
                <value>0.57</value>
            </setting>
            <setting name="PCCandeal" serializeAs="String">
                <value>0.57</value>
            </setting>
            <setting name="PCPicos" serializeAs="String">
                <value>0.57</value>
            </setting>
            <setting name="PCAnticrisis" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="PCAVerano" serializeAs="String">
                <value>0.27</value>
            </setting>
            <setting name="PCPistolas" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="PCIntegral" serializeAs="String">
                <value>0.43</value>
            </setting>
            <setting name="PCSinSal" serializeAs="String">
                <value>0.43</value>
            </setting>
            <setting name="PCMejorena" serializeAs="String">
                <value>0.37</value>
            </setting>
            <setting name="PCMGrande" serializeAs="String">
                <value>0.54</value>
            </setting>
            <setting name="PCNatural" serializeAs="String">
                <value>0.37</value>
            </setting>
            <setting name="PCBarrita" serializeAs="String">
                <value>0.24</value>
            </setting>
            <setting name="PVColon" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="PVCandeal" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="PVPicos" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="PVAnticrisis" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="PVAVerano" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="PVPistolas" serializeAs="String">
                <value>0.65</value>
            </setting>
            <setting name="PVIntegral" serializeAs="String">
                <value>0.65</value>
            </setting>
            <setting name="PVSinSal" serializeAs="String">
                <value>0.65</value>
            </setting>
            <setting name="PVMejorena" serializeAs="String">
                <value>0.55</value>
            </setting>
            <setting name="PVMGrande" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="PVNatural" serializeAs="String">
                <value>0.55</value>
            </setting>
            <setting name="PVBarrita" serializeAs="String">
                <value>0.35</value>
            </setting>
            <setting name="Pan1" serializeAs="String">
                <value>Colon</value>
            </setting>
            <setting name="Pan2" serializeAs="String">
                <value>Candeal</value>
            </setting>
            <setting name="Pan3" serializeAs="String">
                <value>Picos</value>
            </setting>
            <setting name="Pan4" serializeAs="String">
                <value>Anticrisis</value>
            </setting>
            <setting name="Pan5" serializeAs="String">
                <value>A.Verano</value>
            </setting>
            <setting name="Pan6" serializeAs="String">
                <value>Pistolas</value>
            </setting>
            <setting name="Pan7" serializeAs="String">
                <value>Integral</value>
            </setting>
            <setting name="Pan8" serializeAs="String">
                <value>Sin Sal</value>
            </setting>
            <setting name="Pan9" serializeAs="String">
                <value>Mejoreña</value>
            </setting>
            <setting name="Pan10" serializeAs="String">
                <value>M.Grande</value>
            </setting>
            <setting name="Pan11" serializeAs="String">
                <value>Natural</value>
            </setting>
            <setting name="Pan12" serializeAs="String">
                <value>Barrita</value>
            </setting>
        </Pan.Properties.Settings>
    </userSettings>
</configuration>